<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="header">
    <h2>Welcome</h2>
    <h1 class="text-center">Login</h1>
    <div>
        <a href="/register">Noch nicht Registriert</a>
    </div>
</div>
<div class="main-content center">
    <form th:action="@{/login}" method="POST" >
        <label class="wide-label">
            E-Mail:
            <input type="email" id="email" value="" name="username" placeholder="example@mail.com" autofocus required>
        </label>
        <label class="wide-label">
            Passwort:
            <input type="password" id="password" value="" name="password" required>
        </label>
        <div th:if="${param.error}">
            <h3 class="alert error">Error: Invalid Login</h3>
        </div>
        <div th:if="${param.logout}">
            <h3 class="alert success">Erfolgreich Abgemeldet</h3>
        </div>

        <button type="submit" class="w-100">Anmelden</button>
    </form>
</div>
</body>
</html>
